{{yield}}

<fieldset>
  {{mdl-textfield type="text" name="title" id="title" label="Title" value=title}}
  {{mdl-textfield type="text" name="year" id="year" label="Year" value=year}}
  {{mdl-textfield type="text" name="author" id="author" label="Author" value=author}}
  {{mdl-textfield type="text" name="isbn" id="isbn" label="ISBN" value=isbn}}
</fieldset>

<div class="actions">
  {{mdl-button isRaised=true text='Submit'}}
</div>
